@{
    ViewData["Title"] = "Login Page";

}

<div id="app">
    <div style="position: relative; width: 400px; margin: auto; margin-top: 5%; padding: 50px; border: 1px solid black;">
        <form method="POST" action="/account/login" style="width: 100%;">
            <div>
                Username:
            </div>
            <input type="text" id="username" name="username" style="width: 100%;" />
            <div style="margin-top: 20px;">
                Password:
            </div>
            <input type="password" id="password" name="password" style="width: 100%;" />
            <div style="text-align: center; padding: 10px;">{{message}}</div>
            <div style="padding-top: 30px; text-align: right">
                <input type="submit" value="Login" />
            </div>
        </form>
        
    </div>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: '@ViewBag.AuthMessage'
        }
    })
</script>
