@{
    ViewData["Title"] = "Login Page";
}

<div id="app">{{message}}</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: `sample message using vue`
        }
    })
</script>